* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-size: 62.5%;
}

.app {
  transition: color .3s linear,
              background-color .3s linear;
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  overflow-y: overlay;
  font-size: 1.4rem;
  color: var(--white);
  background-color: var(--ground);
  scroll-behavior: smooth;
}

.dark {
  --primary: rgb(122, 122, 122);
  --secondary: rgb(185, 185, 185);
  --ground: rgb(71, 71, 71);
  color: var(--black);
}

@import '../styles/root';
@import '../../components/Sidebar/sidebar';
@import '../../components/Settings/settings';
@import '../../features/Modal/modal';
@import '../../features/Radio/radioToggle';
